server:
  port: 8080

spring:
  application:
    name: myfinances-back
  datasource:
    url: jdbc:postgresql://localhost:5432/myfinance_db
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false
    
logging:
  level:
    br.com.infotech.myfinances: DEBUG
