<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Use default Spring Boot base log settings if missing elements, but we override pattern -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%.-1p [%30.30logger{0}][%X{mdc1}][%X{mdc2}]: %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="br.com.infotech.myfinances" level="DEBUG"/>
</configuration>
